<mat-card *ngIf="person">
  <mat-card-title>{{ person.lastname }} {{ person.firstname }}</mat-card-title>
  <mat-card-content>
    <mat-list-item>vezetéknév: {{ person.lastname }}</mat-list-item>
    <mat-list-item>keresztnév: {{ person.firstname }}</mat-list-item>
    <mat-list-item>e-mail cím: {{ person.email }}</mat-list-item>
    <mat-list-item>nem: {{ person.gender | gender }}</mat-list-item>
    <mat-list-item
      >születési dátum: {{ person.dateOfBirth | customDate }}</mat-list-item
    >
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="openAddCar()" color="primary">
      Autó hozzáadása
    </button>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-title>Autóim</mat-card-title>
  <mat-card-content>
    <div *ngFor="let car of cars">
      <mat-card>
        <mat-card-content>
          <mat-list-item>Rendszám: {{ car.registrationNumber }}</mat-list-item>
          <mat-list-item>Típus: {{ car.type }}</mat-list-item>
          <mat-list-item>Ülések száma: {{ car.numberOfSeats }}</mat-list-item>
          <mat-list-item
            >Fogyasztás/km: {{ car.consumptionPerKm }}</mat-list-item
          >
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="deleteCar(car)" color="warn">
            Törlés
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
