<h1 mat-dialog-title>Autó hozzáadása</h1>
<div mat-dialog-content [formGroup]="creatCarForm">
  <mat-form-field>
    <mat-label>rendszám</mat-label>
    <input matInput type="text" formControlName="registrationNumber" required />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>típus</mat-label>
    <input matInput type="text" formControlName="type" required />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>ülések száma</mat-label>
    <input matInput type="number" formControlName="numberOfSeats" required />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>fogyasztás/km</mat-label>
    <input matInput type="number" formControlName="consumptionPerKm" required />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    [mat-dialog-close]="creatCarForm.value"
    [disabled]="!creatCarForm.valid"
    color="primary"
  >
    Mentés
  </button>
  <button mat-raised-button [mat-dialog-close]>Mégsem</button>
</div>
