<mat-card>
  <mat-card-content>
    <div *ngFor="let travel of travels">
      <mat-card>
        <mat-card-content>
          <app-show-travels-template
            [travel]="travel"
          ></app-show-travels-template>
        </mat-card-content>
        <mat-card-actions>
          <button
            color="primary"
            mat-raised-button
            (click)="joinTravel(travel)"
            *ngIf="
              isNotMyTravelAsDriver(travel) && isNotMyTravelAsPassenger(travel)
            "
          >
            Csatlakozás
          </button>
          <button
            color="warn"
            mat-raised-button
            (click)="deleteTravel(travel)"
            *ngIf="!isNotMyTravelAsDriver(travel)"
          >
            Törlés
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="unjoinTravel(travel)"
            *ngIf="!isNotMyTravelAsPassenger(travel)"
          >
            Csatlakozás visszavonása
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
