<mat-accordion displayMode="flat" multi class="mat-table">
  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="mat-header-cell">Indulás</span>
    <span class="mat-header-cell">Honnan</span>
    <span class="mat-header-cell">Hová</span>
    <span class="mat-header-cell">Vezető</span>
  </section>

  <mat-expansion-panel *ngFor="let travel of travels">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">{{ travel.departure | customDate }}</span>
      <span class="mat-cell">{{ travel.whereFrom }}</span>
      <span class="mat-cell">{{ travel.whereTo }}</span>
      <span class="mat-cell"
        >{{ travel.car.owner.firstname }} {{ travel.car.owner.lastname }}</span
      >
    </mat-expansion-panel-header>
    <div>
      <mat-card>
        <mat-card-content>
          <app-show-travels-template
            [travel]="travel"
          ></app-show-travels-template>
        </mat-card-content>
        <mat-card-actions>
          <button
            color="primary"
            mat-raised-button
            (click)="joinTravel(travel)"
            *ngIf="
              isNotMyTravelAsDriver(travel) && isNotMyTravelAsPassenger(travel)
            "
          >
            Csatlakozás
          </button>
          <button
            color="warn"
            mat-raised-button
            (click)="deleteTravel(travel)"
            *ngIf="!isNotMyTravelAsDriver(travel)"
          >
            Törlés
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="unjoinTravel(travel)"
            *ngIf="!isNotMyTravelAsPassenger(travel)"
          >
            Csatlakozás visszavonása
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-expansion-panel>
</mat-accordion>
