<mat-tab-group>
  <mat-tab label="Összes">
    <button mat-raised-button (click)="openAddTravel()" color="primary">
      Utazás hozzáadása
    </button>
    <div *ngFor="let travel of myTravelsAsDriver.concat(myTravelsAsPassenger)">
      <mat-card>
        <mat-card-content>
          <app-show-travels-template
            [travel]="travel"
          ></app-show-travels-template>
        </mat-card-content>
        <mat-card-actions>
          <button
            color="warn"
            mat-raised-button
            (click)="deleteTravel(travel)"
            *ngIf="!isNotMyTravelAsDriver(travel)"
          >
            Törlés
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="unjoinTravel(travel)"
            *ngIf="!isNotMyTravelAsPassenger(travel)"
          >
            Csatlakozás visszavonása
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Vezető">
    <button mat-raised-button (click)="openAddTravel()" color="primary">
      Utazás hozzáadása
    </button>
    <div *ngFor="let travel of myTravelsAsDriver">
      <mat-card>
        <mat-card-content>
          <app-show-travels-template
            [travel]="travel"
          ></app-show-travels-template>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="deleteTravel(travel)" color="warn">
            Törlés
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Utas">
    <div *ngFor="let travel of myTravelsAsPassenger">
      <mat-card>
        <mat-card-content>
          <app-show-travels-template
            [travel]="travel"
          ></app-show-travels-template>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            (click)="unjoinTravel(travel)"
          >
            Csatlakozás visszavonása
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
