<mat-card>
  <mat-card-title>Autóim</mat-card-title>
  <mat-card-content>
    <button mat-raised-button (click)="openAddCar()" color="primary">
      Autó hozzáadása
    </button>
    <div *ngFor="let car of cars">
      <mat-card>
        <mat-card-content>
          <mat-list-item>Rendszám: {{ car.registrationNumber }}</mat-list-item>
          <mat-list-item>Típus: {{ car.type }}</mat-list-item>
          <mat-list-item>Ülések száma: {{ car.numberOfSeats }}</mat-list-item>
          <mat-list-item
            >Fogyasztás/km: {{ car.consumptionPerKm }}</mat-list-item
          >
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="deleteCar(car)" color="warn">
            Törlés
          </button>
          <button mat-raised-button color="primary" routerLink="{{ car.id }}">
            Utazások
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>
