<mat-list-item
  >Indulás időpontja: {{ travel.departure | customDate }}</mat-list-item
>
<mat-list-item>Honnan: {{ travel.whereFrom }}</mat-list-item>
<mat-list-item>Havá: {{ travel.whereTo }}</mat-list-item>
<mat-list-item>Út hossza(km): {{ travel.length }}</mat-list-item>
<mat-list-item>Üzemanyag ára/l: {{ travel.priceOfFuel }}</mat-list-item>
<mat-list-item
  >Autó: {{ travel.car.type }}
  {{ travel.car.registrationNumber }}</mat-list-item
>
<mat-list-item
  >Vezető: {{ travel.car.owner.firstname }}
  {{ travel.car.owner.lastname }}</mat-list-item
>
